.controls-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 6px 12px 6px;
}

.month {
    font-weight: 600;
    color: #0B1F2F;
    font-size: 14px;
    text-transform: capitalize;
}

.primary-input-holder {
    padding: 8px;
    width: 100%;
}