@using BlazorCore.Data.Consts;

<div class="container-error">
    <div class="icon-error">
        <svg data-src=@IconSvg class="@CssConst.IconColor.Main" />
    </div>

    <div class="text-error">
        <div class="title--xxl weight--m color-n700">
            @Title
        </div>
        <div class="text color-n500">
            @Description
        </div>
    </div>

    @MoreInfo
</div>