.notification-wrapper {
    position: relative;
}



span.has-notification-badge {
    background: #484848;
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    border-radius: 50%;
    right: 0px;
    top: 4px;
    z-index: 3;
    border: 1px solid #FFF;
}
