.comment-reply-container {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 12px;
    margin-bottom: 10px
}

    .comment-reply-container.dark {
        background: #F7F7F7
    }

.comment-reply-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 4px;
    align-items: center;
}

.header-icons:nth-last-child(1) {
    margin-left: 4px;
}

.icon-close {
    width: 16px;
    height: 16px;
}
