.errors-list{
  text-align: left;
}

.errors-list .text {
  color: #47B289
}

.errors-list .checkmark {
  border: 1px solid #47B289;
  background: #47B289;
  padding: 1px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: inline-flex;
}

.errors-list .checkmark svg{
  fill: #ffffff;
  width: 100%;
  height: 100%;
}

.errors-list.init .invalid .text, .errors-list.init.invalid-initial .text {
  color: #767676
}

.errors-list.init .invalid .checkmark, .errors-list.init.invalid-initial .checkmark {
  border-color: #E4E4E4;
  background: transparent;
}

.errors-list.init .invalid .checkmark svg, .errors-list.init.invalid-initial .checkmark svg {
  fill: #E4E4E4;
}

.errors-list .invalid .text, .errors-list.invalid-initial .text {
  color: #B24747
}

.errors-list .invalid .checkmark, .errors-list.invalid-initial .checkmark {
  border-color: #B24747;
  background: transparent;
}

.errors-list .invalid .checkmark svg, .errors-list.invalid-initial .checkmark svg {
  fill: #B24747;
}